
/* 图片轮播 start  */
.slide{
    float: left;
    height: 320px;
    margin: 0 11px 0 9px;
    width: 550px;
    position: absolute;
    left: 190px;
    top: 10px;
}
.img-box{
    position: relative;
}
.img-box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 550px;
    height: 321px;
}
.img-box img:first-of-type{
    z-index: 1;
}
.btn-box{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}
.btn-box a{
    background: #444;
    color: #fff;
    width: 79px;
    display: inline-block;
    font-size: 11px;
    padding: 5px 15px;
    margin-right: 1px;
    float: left;
    text-align: center;
    height: 32px;
    opacity: 0.7;
}
.btn-box .last{
    width: 80px;
    margin-right: 0;
}
.btn-box a.chos {
    background: url("../images/adindex.gif") no-repeat center 39px #37A7D7;
    color: #FFFFFF;
    opacity: 1;
}
.btn-box a span {
    cursor: pointer;
    display: block;
    height: 16px;
    overflow: hidden;
    width: 79px;
}
/* 图片轮播 end  */
/* 最新动态  start  */
.notice{
    position: absolute;
    top: 10px;
    right: 0;
    width: 230px;
    height: 321px;
    overflow: hidden;
}
.notice-img{
    width: 230px;
    height: 176px;
    overflow: hidden;
}
.notice-img img{
    transition: 1s all;
}
.notice-img img:hover{
    transform: rotate(720deg);
}
.notice-info{
    width: 228px;
    height: 133px;
    margin-top: 10px;
    border: 1px solid #DFDFDF;
}
.notice-info h2{
    font-size: 12px;
    height: 23px;
    line-height: 23px;
    border-bottom: 1px solid #DFDFDF;
    text-indent: 13px;
}
.notice-info ul{
    padding: 6px 2px 0 12px;
    font-size: 12px;
}
.notice-info ul a{
    color: #666666;
}
.notice-info ul a:hover{
    color: blue;
}
#tooltip{
    position:absolute;
    border:1px solid #333;
    background:#f7f5d1;
    padding:1px;
    color:#333;
    display:none;
    font-size: 12px;
}
/* 最新动态  end  */
/* 品牌活动 start */
.brand{
    position: absolute;
    top:330px ;
    left: 200px;
    width: 790px;
    margin-top: 10px;
}
.brand-tab{
    border-bottom: 1px solid #E4E4E4;
    height: 29px;
}
.brand-tab h3{
    display: inline-block;
    font-size: 13px;
}
.brand-tab ul{
    display: inline-block;
    float: right;
    margin-right: 10px;
    margin-top: 7px;
}
.brand-tab ul li{
    float: left;
    margin-left: 10px;
}
.brand-tab li.b-chos{
    background: url("../images/chos.gif") no-repeat scroll 50% bottom transparent;
    padding-bottom: 3px;
 }
.brand-tab li.b-chos a{
    background: #FA5889;
    color: #fff;
}
.brand-tab ul li a{
    display: inline-block;
    font-size: 12px;
    color: #000;
    background: #E4E4E4;
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
}
.brand-content{
    width: 790px;
    overflow: hidden;
    position: relative;
    height: 188px;
}
.brand-list{
    width: 3200px;
    position: absolute;
}
.brand-list li{
    float: left;
    position: relative;
    padding: 0 5px;
    height: 188px;
    width: 185px;
}
.brand-list li a{
    color: #666;
}
.brand-list li span{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #EFEFEF;
    height: 24px;
    line-height: 24px;
    width: 183px;
    text-align: center;
}
/* 品牌活动 end */
/* 主体  end  */



